.withSpinnerHeader {
    color: grey;
    text-align: center;
}

.withoutSpinnerHeader {
    color: white;
    text-align: center;
}

.pagination {
    margin-left: 35%;
}

.artWorks-name {
    color: white;
    font-size: 16px;
}

.artist-details {
    color: white;
    font-size: 12px;
}

.location-details {
    color: grey;
}

.art-card {
    width: 95%;
    margin-bottom: 5%;
    height: 95%;
}

.spinner {
    margin-left: 48%;
}

.art-images {
    width: 100%;
    height: 200px;
}